{% load static %}

{% include "partials/_header_nav.html" %}
{% block title %}Change Password{% endblock %}

{% block content %}
</br></br></br></br></br>
<div class="container mt-4">
    <h1>Change Password</h1>
    <form method="POST">
        {% csrf_token %}
        <!-- Use Django's PasswordChangeForm or your own custom form -->
        <div class="mb-3">
            <label for="old_password">Old Password</label>
            <input type="password" name="old_password" id="old_password" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="new_password1">New Password</label>
            <input type="password" name="new_password1" id="new_password1" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="new_password2">Confirm New Password</label>
            <input type="password" name="new_password2" id="new_password2" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-success">Update Password</button>
    </form>
</div>
{% endblock content %}
</br></br></br></br></br></br></br></br>
{% include "partials/_footer.html" %}